<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 tetx-center">
          <h5 class="text-center text-warning">Add Note</h5>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="title"
          />
          <label for="title">Title</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="name"
          />
          <label for="name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
          />
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="description"
            name="description"
            [(ngModel)]="description"
          />
          <label for="description">Description</label>
        </div>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="addNote()"
        >
          Add Note
        </button>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <h5 class="text-danger">Notes</h5>
      <div class="card p-3 shadow">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Note</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let NewNotes of NoteList">
                <td>{{ NewNotes.title }}</td>
                <td>{{ NewNotes.name }}</td>
                <td>{{ NewNotes.email }}</td>
                <td>{{ NewNotes.description }}</td>
                <td>
                  <button
                    class="btn btn-outline-danger"
                    (click)="deleteNote(NewNotes)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
